<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="LocalCenterForm.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <LocalCenterForm.Properties.Settings>
            <setting name="MqttHost" serializeAs="String">
                <value>test.mosquitto.org</value>
            </setting>
            <setting name="Room" serializeAs="String">
                <value>B1-101</value>
            </setting>
            <setting name="MqttUser" serializeAs="String">
                <value />
            </setting>
            <setting name="MqttPassword" serializeAs="String">
                <value />
            </setting>
            <setting name="Computer" serializeAs="String">
                <value>24</value>
            </setting>
        </LocalCenterForm.Properties.Settings>
    </userSettings>
</configuration>